<!DOCTYPE html>
<html>
{% extends "template.html" %}
{% block content %}
        <div class = "inner"> 
          <div class="media-body">
             <h2>Data Visualization App</h2>
          </div>
          <div class="media-body" style="margin-top: 10px;">
              
              <p>
                This project focused on building a portable app to visualize changes in primary care visit behavior with interaction capabilities that provide mechanisms to filter the data by various demographic groups. Use this app to visualize your patient visit data, or adapt it to fit your needs.
              </p>
              <p>
                Begin by uploading your data using the '+' icon in the data tab. Read the instructions for formatting your data. Once your data has been uploaded, you can find the dashboard for it under the dashboard tab.
              </p>
          </div>
        </div>
        
{% endblock content %}
</html>
