{% extends "template.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
             <h1>Welcome to GQT</h1>
          </div>
        </article>
        <article class="media content-section">
            <div class="media-body">
                <p>
                    <h3>Genotype Query Tools (GQT) is software for indexing and querying large-scale genotype data sets.
                        This website is a web interface for the software specifically designed for querying one of the most commonly used data sets,
                        '1000 Genomes Project' Phase 3 autosomal data sets</h3>
                </p>
                <p>
                    <h3>This data set is comprised of genotypes for 2504 individuals across 26 populations. The populations
                        and their encodings are the following:</h3>
                </p>
                
                <table align="center" class="centered">
                    <tr>
                        <td>
                            <h3>CHB</h3>                
                        </td>
                        <td>
                            <h3>Han Chinese in Beijing, China</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>CHB</h3>                
                        </td>
                        <td>
                            <h3>Han Chinese in Beijing, China</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>JPT</h3>                
                        </td>
                        <td>
                            <h3>Japanese in Tokyo, Japan</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>CHS</h3>                
                        </td>
                        <td>
                            <h3>Southern Han Chinese</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>CDX</h3>                
                        </td>
                        <td>
                            <h3>Chinese Dai in Xishuangbanna, China</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>KHV</h3>                
                        </td>
                        <td>
                            <h3>CKinh in Ho Chi Minh City, Vietnam</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>CEU</h3>                
                        </td>
                        <td>
                            <h3>Utah Residents (CEPH) with Northern and Western European Ancestry</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>TST</h3>                
                        </td>
                        <td>
                            <h3>Toscani in Italia</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>FIN</h3>                
                        </td>
                        <td>
                            <h3>Finnish in Finland</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>GBR</h3>                
                        </td>
                        <td>
                            <h3>British in England and Scotland</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>IBS</h3>                
                        </td>
                        <td>
                            <h3>Iberian Population in Spain</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>YRI</h3>                
                        </td>
                        <td>
                            <h3>Yoruba in Ibadan, Nigeria</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>LWK</h3>                
                        </td>
                        <td>
                            <h3>Luhya in Webuye, Kenya</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>GWD</h3>                
                        </td>
                        <td>
                            <h3>Gambian in Western Divisions in the Gambia</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>MSL</h3>                
                        </td>
                        <td>
                            <h3>Mende in Sierra Leone</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>ESN</h3>                
                        </td>
                        <td>
                            <h3>Esan in Nigeria</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>ASW</h3>                
                        </td>
                        <td>
                            <h3>Americans of African Ancestry in SW USA</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>ACB</h3>                
                        </td>
                        <td>
                            <h3>African Caribbeans in Barbados</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>MXL</h3>                
                        </td>
                        <td>
                            <h3>Mexican Ancestry from Los Angeles USA</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>PUR</h3>                
                        </td>
                        <td>
                            <h3>Puerto Ricans from Puerto Rico</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>CLM</h3>                
                        </td>
                        <td>
                            <h3>Colombians from Medellin, Colombia</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>PEL</h3>                
                        </td>
                        <td>
                            <h3>Peruvians from Lima, Peru</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>GIH</h3>                
                        </td>
                        <td>
                            <h3>Gujarati Indian from Houston, Texas</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>PJL</h3>                
                        </td>
                        <td>
                            <h3>Punjabi from Lahore, Pakistan</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>BEB</h3>                
                        </td>
                        <td>
                            <h3>Bengali from Bangladesh</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>STU</h3>                
                        </td>
                        <td>
                            <h3>Sri Lankan Tamil from the UK</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>ITU</h3>                
                        </td>
                        <td>
                            <h3>Indian Telugu from the UK</h3>
                        </td>
                    </tr>
                </table>
            </div>
        </article>   
{% endblock content %}
