<!DOCTYPE html>
<html>
{% extends "template.html" %}
{% block content %}
<body>
    <h2 align = "center">File has been uploaded</h2>   
    <p align = "center">Veiw the file or the dashboard using the tabs at the top.</p>   
</body>


<script type="text/javascript" href="{{ url_for('static', filename='lib/d3.js') }}"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script> -->
<script type="text/javascript" src="https://d3js.org/d3.v5.js"></script>
<script>
    var args = JSON.parse('{{ args | tojson | safe}}');
    var url = "data/encounters_eventflow.txt";
    //var url = "{{ url_for('static', filename='encounters_eventflow.txt') }}"
    console.log(args.newfile);
    //var path = require('path');

    d3.dsv("|", "{{ url_for('static', filename='data/encounters_eventflow.txt') }}").then(function(data){
        console.log("here");
        var myArray = [];
        data.forEach(function(d, i){
            // now we add another data object value, a calculated value.
            // here we are making strings into numbers using type coercion
            /*
            d.year1990 = +d.year1990;
            d.year2015 = +d.year2015;
            d.difference = d.year2015 - d.year1990;
            if (d.name === "Developing regions") {
                d.name = "Developing Regions";
            }
            if (d.name === "Developed regions") {
                d.name = "Deveoloped Regions";
            }
            */
            // Add a new array with the values of each:
            myArray.push([d.GUID, d.EventCategory, d.StartTime, d.EndTime, d.EventAttributes]);
        });
        console.log("csv");
    
        var table = d3.select("#table").append("table");
        var header = table.append("thead").append("tr");
        header
                .selectAll("th")
                .data(["GUID", "Event Category", "Start Time", "End Time", "Event Attributes"])
                .enter()
                .append("th")
                .text(function(d) { return d; });
        var tablebody = table.append("tbody");
        rows = tablebody
                .selectAll("tr")
                .data(myArray)
                .enter()
                .append("tr");
        // We built the rows using the nested array - now each row has its own array.
        cells = rows.selectAll("td")
            // each row has data associated; we get it and enter it for the cells.
                .data(function(d) {
                    console.log(d);
                    return d;
                })
                .enter()
                .append("td")
                .text(function(d) {
                    return d;
                });
    });
    console.log("end");
    
    </script>

{% endblock content %}


</html>