<!DOCTYPE html>
<html>
{% extends "template.html" %}
{% block content %}

<script type="text/javascript" href="{{ url_for('static', filename='lib/d3.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<script>
    
    // Checks if criteria are met, and if they are it uploads them
    function uploadFiles() {
        var file = document.getElementById("fileUploader");

        // CLess than two files uploaded error
        if (file.files.length != 2) {
            document.getElementById("Error").setAttribute("style","display:inline-block");
        }
        else {
            document.form.submit();
        }

    }
    
    // call at beginning to reset formatting
    function reset() {
        document.getElementById("Error").setAttribute("style","display:none");
        var args = JSON.parse('{{ args | tojson | safe}}');
        if (args.error === "error") {
            document.getElementById("uploadError").setAttribute("style","display:inline");
        }
        else {
            document.getElementById("uploadError").setAttribute("style","display:none");
        }
    }
    
</script>

<body onload="reset()">
    <div class="inner"> 
        
        <h2 class="title" >Import files</h2>
        
        <pre>Select the visit encounters file and patient attributes file with the button below</pre>
        <form id ="form" name="form" action="{{ url_for('dataAdd') }}" method = "POST" enctype = "multipart/form-data" style="padding-top: 20px; padding-BOTTOM: 20px;">
            <input id="fileUploader" type = "file" name = "file" multiple/>
            <input type="button" onClick="uploadFiles()" value="Upload"/>
            <h3 align="center">{{ files }}</h3>
        </form>
        <h2 id="Error" class="error" style="display:none">Must upload a visit encounters file and patient attributes file</h2>
        <h2 id="uploadError" class="error" style="display:none">The submitted files did not match the expected format</h2>
        <h3 style="padding-top: 10px;">Example format for visit encounters file: </h3>
        <pre style="padding-top: 10px;">    
        GUID|EventCategory|StartTime|EndTime|EventAttributes
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa|Appointment|YYYY-MM-DD 00:00:00||"Type=""Completed""; Is_Inpatient=""N"""
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa|Patient Message|YYYY-MM-DD 00:00:00||"Type=""Completed""; Is_Inpatient=""N"""
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa|Patient Message|YYYY-MM-DD 00:00:00||"Type=""Completed""; Diagnosis=""Hypothyroidism, unspecified type""; Is_Inpatient=""N"""
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa|Patient Message|YYYY-MM-DD 00:00:00||"Type=""Completed""; Is_Inpatient=""N"""
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb|Visit Encounter|YYYY-MM-DD 00:00:00||"Type=""Completed""; Diagnosis=""Hypothyroidism, unspecified type""; Is_Inpatient=""N"""
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb|Office Visit|YYYY-MM-DD 00:00:00||"Type=""Completed""; Diagnosis=""Hypothyroidism, unspecified type, Erectile dysfunction, unspecified erectile dysfunction type""; Is_Inpatient=""N"""
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb|Appointment|YYYY-MM-DD 00:00:00||"Type=""Missed""; Is_Inpatient=""N"""
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb|Appointment|YYYY-MM-DD 00:00:00||"Type=""Missed""; Is_Inpatient=""N"""
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb|Office Visit|YYYY-MM-DD 00:00:00||"Type=""Completed""; Diagnosis=""Screening for skin cancer, Multiple benign nevi, Milia, Lentigines, Café au lait spot""; Is_Inpatient=""N"""
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb|Policy Active|YYYY-MM-DD 00:00:00||"Policy_Type=""Emergency State"""
        ...
        </pre>  
        <h3 style="padding-top: 10px;">Example format for patient attributes file: </h3>
        <pre style="padding-top: 10px;">    
        GUID,Gender,Race,Ethnicity,Status,Religion,Age,State,FIPS,County
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa,Female,Black or African American,Not Hispanic or Latino,Alive,Christian,41.0,MD,24510,Baltimore City
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb,Female,White or Caucasian,Not Hispanic or Latino,Alive,Christian,15.0,MD,24005,Baltimore
        cccccccccccccccccccccccccccccccc,Other,Hispanic or Latino,Alive,Catholic,37.0,MD,24510,Baltimore City
        dddddddddddddddddddddddddddddddd,Male,White or Caucasian,Not Hispanic or Latino,Alive,Methodist,75.0,PA,42133,York
        ...
        </pre>  
        <h3>Formatting: </h3>
        <pre style="padding-top: 10px;">
        Delimeter must be "<strong>|</strong>" for the visit encounters file and "<strong>,</strong>" for the patient attributes file.

        Event types must be limited to <strong>
            Appointment
            Home Care Visit
            Home Visit
            Office Visit
            Patient Message
            Video Visit
            Visit Encounter (optional)
            Policy Active (optional)
            </strong>
        
        These are aggregatted event types using the following groupings: <strong>
            Synchronous Telehealth = Video visit
            Asynchronous Telehealth = Patient Message
            In-Person = Appointment, Home Care Visit, Home Visit, Office Visit
            </strong> 

        </pre>
    </div>


</body>



{% endblock content %}


</html>